body
{
    margin: 0.3em;
    margin-top: 0.4em;
    padding: 0;
    background-color: var(--color-surface-5);
    color: var(--color-on-background);
    --j95r4ji5r-opacity: 1;
    overflow: hidden;
    --the-font: "Poppins";
    --the-robo-font: "Roboto Mono";
    font-family: var(--the-font);

}

html,
body
{
    overscroll-behavior-x: none;
}

.green-dark
{
    --color-base: #000;
    --color-neutral-variant60: #938F99;
    --color-on-surface-variant-2: linear-gradient(0deg, rgba(196, 200, 187, .08), rgba(196, 200, 187, .08));
    --color-on-surface-variant-4: linear-gradient(0deg, rgba(196, 200, 187, .12), rgba(196, 200, 187, .12));
    --color-on-surface-2: linear-gradient(0deg, rgba(227, 227, 220, .08), rgba(227, 227, 220, .08)), var(--color-secondary-container);
    --color-on-surface-4: linear-gradient(0deg, rgba(227, 227, 220, .12), rgba(227, 227, 220, .12)), var(--color-secondary-container);
    --color-white: #fff;
    --color-on-background: #e3e3dc;
    --color-background: #1a1c18;
    --color-on-surface: #e3e3dc;
    --color-on-surface-variant: #c4c8bb;
    --color-surface-0: #1a1c18;
    --color-surface-variant: #43493e;
    --color-surface-1: #232820;
    --color-surface-2: #272e23;
    --color-surface-3: #2b3326;
    --color-surface-4: #2c3527;
    --color-surface-5: #2f3929;
    --color-inverse-surface: #f1f1ea;
    --color-inverse-on-surface: #2f312c;
    --color-primary: #9cd67d;
    --color-primary-80: #9cd67d;
    --color-primary-30: #205107;
    --color-primary-20: #0c3900;
    --color-neutral-10: #1a1c18;
    --color-neutral-90: #e3e3dc;
    --color-on-primary: #0c3900;
    --color-primary-container: #205107;
    --color-on-primary-container: #b8f397;
    --color-secondary: #bdcbb0;
    --color-on-secondary: #273420;
    --color-secondary-container: #3e4a36;
    --color-on-secondary-container: #d9e7cb;
    --color-tertiary-container: #1e4e4e;
    --color-on-tertiary-container: #bbebeb;
    --color-utility-error: #ffb4a9;
    --color-utility-on-error: #680003;
    --color-utility-outline: #8d9286;


}

.green-light
{
    --color-base: #fff;
    --color-neutral-variant60: #79747E;
    --color-on-surface-variant-2: rgba(67, 73, 62, .08);
    --color-on-surface-variant-4: linear-gradient(0deg, rgba(67, 73, 62, .12), rgba(67, 73, 62, .12));
    --color-on-surface-2: linear-gradient(0deg, rgba(26, 28, 24, .08), rgba(26, 28, 24, .08)), var(--color-secondary-container);
    --color-on-surface-4: linear-gradient(0deg, rgba(26, 28, 24, .12), rgba(26, 28, 24, .12)), var(--color-secondary-container);
    --color-white: #fff;
    --color-on-background: #1a1c18;
    --color-background: #fdfdf6;
    --color-on-surface: #1a1c18;
    --color-on-surface-variant: #43493e;
    --color-surface-0: #fdfdf6;
    --color-surface-variant: #dfe4d6;
    --color-inverse-surface: #2f312c;
    --color-inverse-on-surface: #f1f1ea;
    --color-primary: #386a20;
    --color-primary-80: #9cd67d;
    --color-primary-30: #205107;
    --color-primary-20: #0c3900;
    --color-on-primary: #fff;
    --color-primary-container: #b8f397;
    --color-on-primary-container: #042100;
    --color-secondary: #55624c;
    --color-on-secondary: #fff;
    --color-secondary-container: #d9e7cb;
    --color-on-secondary-container: #131f0d;
    --color-tertiary-container: #bbebeb;
    --color-on-tertiary-container: #002021;
    --color-utility-error: #ba1b1b;
    --color-utility-on-error: #fff;
    --color-utility-outline: #74796e;
    --color-surface-1: #f0f3e8;
    --color-surface-2: #ebefe2;
    --color-surface-3: #e5eadc;
    --color-surface-4: #e3e9da;
    --color-surface-5: #dfe6d5;
    --color-ref-secondary-200: #bdcbb0;
    --color-ref-secondary-300: #a1b095;
    --color-ref-neutral-100: #e3e3e3;
    --color-ref-neutral-200: #c7c7c7;
}

.blue-dark
{
    --color-base: #000;
    --color-neutral-variant60: #938F99;
    --color-on-surface-variant-2: linear-gradient(0deg, rgba(196, 199, 197, .08), rgba(196, 199, 197, .08));
    --color-on-surface-variant-4: linear-gradient(0deg, rgba(196, 199, 197, .12), rgba(196, 199, 197, .12));
    --color-on-surface-2: linear-gradient(0deg, rgba(227, 227, 227, .08), rgba(227, 227, 227, .08)), var(--color-secondary-container);
    --color-on-surface-4: linear-gradient(0deg, rgba(227, 227, 227, .12), rgba(227, 227, 227, .12)), var(--color-secondary-container);
    --color-white: #fff;
    --color-on-background: #e3e3e3;
    --color-background: #1f1f1f;
    --color-on-surface: #e3e3e3;
    --color-on-surface-variant: #c4c7c5;
    --color-surface-0: #1f1f1f;
    --color-surface-variant: #444746;
    --color-inverse-surface: #e3e3e3;
    --color-inverse-on-surface: #303030;
    --color-surface-1: #28292a;
    --color-surface-2: #2d2f31;
    --color-surface-3: #333438;
    --color-surface-4: #34363a;
    --color-surface-5: #383a3e;
    --color-primary: #a8c7fa;
    --color-primary-80: #a8c7fa;
    --color-primary-30: #0842a0;
    --color-primary-20: #062e6f;
    --color-neutral-10: #1f1f1f;
    --color-neutral-90: #e3e3e3;
    --color-on-primary: #062e6f;
    --color-primary-container: #0842a0;
    --color-on-primary-container: #d3e3fd;
    --color-secondary: #7fcfff;
    --color-on-secondary: #035;
    --color-secondary-container: #004a77;
    --color-on-secondary-container: #c2e7ff;
    --color-tertiary-container: #0f5223;
    --color-on-tertiary-container: #c4eed0;
    --color-utility-error: #f2b8b5;
    --color-utility-on-error: #601410;
    --color-utility-outline: #8e918f;
    --color-extensions-do-container: #b4e5f2;
    --color-extensions-on-do-container: #073550;
    --color-extensions-dont-container: #f2b8b5;
    --color-extensions-on-dont-container: #601410;
    --color-extensions-caution-container: #e2e290;
    --color-extensions-on-caution-container: #473e00;
    --color-copy-link-tooltip: #f2f2f2;
    --elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
    --elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
    --elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%);
}

.blue-light
{
    --color-base: #fff;
    --color-neutral-variant60: #79747E;
    --color-on-surface-variant-2: linear-gradient(0deg, rgba(68, 71, 70, .08), rgba(68, 71, 70, .08));
    --color-on-surface-variant-4: linear-gradient(0deg, rgba(68, 71, 70, .12), rgba(68, 71, 70, .12));
    --color-on-surface-2: linear-gradient(0deg, rgba(31, 31, 31, .08), rgba(31, 31, 31, .08)), var(--color-secondary-container);
    --color-on-surface-4: linear-gradient(0deg, rgba(31, 31, 31, .12), rgba(31, 31, 31, .12)), var(--color-secondary-container);
    --color-white: #fff;
    --color-on-background: #1f1f1f;
    --color-background: #fff;
    --color-on-surface: #1f1f1f;
    --color-on-surface-variant: #444746;
    --color-surface-0: #fff;
    --color-surface-variant: #e1e3e1;
    --color-inverse-surface: #303030;
    --color-inverse-on-surface: #f2f2f2;
    --color-primary: #0b57d0;
    --color-primary-80: #a8c7fa;
    --color-primary-30: #0842a0;
    --color-primary-20: #062e6f;
    --color-on-primary: #fff;
    --color-neutral-10: #1f1f1f;
    --color-neutral-90: #dfe2ed;
    --color-primary-container: #d3e3fd;
    --color-on-primary-container: #041e49;
    --color-secondary: #00639b;
    --color-on-secondary: #fff;
    --color-secondary-container: #c2e7ff;
    --color-on-secondary-container: #001d35;
    --color-tertiary-container: #c4eed0;
    --color-on-tertiary-container: #072711;
    --color-utility-error: #b3261e;
    --color-utility-on-error: #fff;
    --color-utility-outline: #747775;
    --color-surface-1: #f8fafd;
    --color-surface-2: #f3f6fc;
    --color-surface-3: #eff3fa;
    --color-surface-4: #edf2fa;
    --color-surface-5: #eaf0f9;
    --color-extensions-do-container: #085786;
    --color-extensions-on-do-container: #fff;
    --color-extensions-dont-container: #b3261e;
    --color-extensions-on-dont-container: #fff;
    --color-extensions-caution-container: #e8e971;
    --color-extensions-on-caution-container: #1f1f1f;
    --color-ref-secondary-200: #7fcfff;
    --color-ref-secondary-300: #5ab3f0;
    --color-ref-neutral-100: #e3e3e3;
    --color-ref-neutral-200: #c7c7c7;
    --color-scrim-video-container: rgb(31 31 31 / 64%);
    --color-scrim-video-control: rgb(255 255 255 / 12%);
    --color-scrim-video-control-pressed: rgb(255 255 255 / 24%);
    --color-copy-link-tooltip: #f2f2f2;
    --elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
    --elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
    --elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%);
}

.red-dark
{
    --color-base: #000;
    --color-neutral-variant60: #938F99;
    --color-on-surface-variant-2: linear-gradient(0deg, rgba(215, 194, 193, .08), rgba(215, 194, 193, .08));
    --color-on-surface-variant-4: linear-gradient(0deg, rgba(215, 194, 193, .12), rgba(215, 194, 193, .12));
    --color-on-surface-2: linear-gradient(0deg, rgba(237, 224, 223, .08), rgba(237, 224, 223, .08)), var(--color-secondary-container);
    --color-on-surface-4: linear-gradient(0deg, rgba(237, 224, 223, .12), rgba(237, 224, 223, .12)), var(--color-secondary-container);
    --color-white: #fff;
    --color-on-background: #ede0df;
    --color-background: #211a1a;
    --color-on-surface: #ede0df;
    --color-on-surface-variant: #d7c2c1;
    --color-surface-0: #211a1a;
    --color-surface-variant: #534343;
    --color-surface-1: #2f2525;
    --color-surface-2: #362929;
    --color-surface-3: #3c2e2e;
    --color-surface-4: #3e2f2f;
    --color-surface-5: #433232;
    --color-inverse-surface: #362f2f;
    --color-inverse-on-surface: #fbeeed;
    --color-primary: #ffb3b5;
    --color-primary-80: #ffb3b5;
    --color-primary-30: #7d2a30;
    --color-primary-20: #5f121b;
    --color-neutral-10: #211a1a;
    --color-neutral-90: #ede0df;
    --color-on-primary: #5f121b;
    --color-primary-container: #7d2a30;
    --color-on-primary-container: #ffdadb;
    --color-secondary: #e6bcbc;
    --color-on-secondary: #442929;
    --color-secondary-container: #5c3f3f;
    --color-on-secondary-container: #ffdad9;
    --color-tertiary-container: #5b4219;
    --color-on-tertiary-container: #fda;
    --color-utility-error: #ffb4a9;
    --color-utility-on-error: #680003;
    --color-utility-outline: #a08c8c;
}

.red-light
{
    --color-base: #fff;
    --color-neutral-variant60: #79747E;
    --color-on-surface-variant-2: linear-gradient(0deg, rgba(83, 67, 67, .08), rgba(83, 67, 67, .08));
    --color-on-surface-variant-4: linear-gradient(0deg, rgba(83, 67, 67, .12), rgba(83, 67, 67, .12));
    --color-on-surface-2: linear-gradient(0deg, rgba(33, 26, 26, .08), rgba(33, 26, 26, .08)), var(--color-secondary-container);
    --color-on-surface-4: linear-gradient(0deg, rgba(33, 26, 26, .12), rgba(33, 26, 26, .12)), var(--color-secondary-container);
    --color-white: #fff;
    --color-on-background: #211a1a;
    --color-background: #fcfcfc;
    --color-on-surface: #211a1a;
    --color-on-surface-variant: #534343;
    --color-surface-0: #fcfcfc;
    --color-surface-variant: #f4dedd;
    --color-inverse-surface: #362f2f;
    --color-inverse-on-surface: #fbeeed;
    --color-primary: #9c4146;
    --color-primary-80: #ffb3b5;
    --color-primary-30: #7d2a30;
    --color-primary-20: #5f121b;
    --color-on-primary: #fff;
    --color-primary-container: #ffdadb;
    --color-on-primary-container: #400008;
    --color-secondary: #765656;
    --color-on-secondary: #fff;
    --color-secondary-container: #ffdad9;
    --color-on-secondary-container: #2d1516;
    --color-tertiary-container: #fda;
    --color-on-tertiary-container: #281800;
    --color-utility-error: #ba1b1b;
    --color-utility-on-error: #fff;
    --color-utility-outline: #857373;
    --color-surface-1: #f5f0f0;
    --color-surface-2: #f3eaeb;
    --color-surface-3: #f0e5e5;
    --color-surface-4: #efe3e4;
    --color-surface-5: #eddfe0;
    --color-ref-secondary-200: #e6bcbc;
    --color-ref-secondary-300: #c9a1a1;
    --color-ref-neutral-100: #e3e3e3;
    --color-ref-neutral-200: #c7c7c7;
}

.material-symbols-outlined
{
    user-select: none !important;
}

.theme-picker-color
{
    font-size: 1.3em;
    background: linear-gradient(-90deg, var(--color-surface-1), var(--color-base));
    width: 10em;
    display: flex;
    height: 2.695em;
    border-radius: 0 8px 8px 0;
    text-align: center;
    box-shadow: 0px 0px 0px 2px #000000a1 !important;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
}

.input-placeholder
{
    position: absolute;
    margin: 0.3em;
    font-size: min(4vw, 23px);
    opacity: 0.7;
    pointer-events: none;
    color: var(--color-on-background);
    transition: translate 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), font-size 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0s;
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 0;
    background-color: transparent;
}

.main-search-bar
{
    margin: 7px;
    background-color: var(--color-background);
    margin-bottom: 0;
    height: 0.67em;
    padding: 0.6em;
    border-radius: 3em;
    font-size: 1.2em;
    padding-left: 1.9em;
}


.dialog-button-accept
{
    background-color: var(--color-primary);
    color: white;
    border: 0;
}

body.hasHover .dialog-button-accept:hover
{
    background-color: var(--color-primary-30)
}

.list-item
{
    user-select: none;
    border-radius: 1.1em !important;
    background: var(--color-surface-1);
    margin: 0;
    padding: 1em !important;
    font-family: var(--the-font);
    width: -webkit-fill-available !important;
    margin: 0em !important;
    display: flex;
    flex-direction: row !important;
    justify-content: unset !important;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), 0s margin, 0s padding;
}



body.hasHover .list-item:hover
{
    background: var(--color-surface-3);
}

.preview-image
{
    height: 2.8em;
    width: 1.8em;
    object-fit: fill;
    padding: 0em;
    margin: 0em;
    pointer-events: none;
    background-color: white;
    border: solid aliceblue 1px;
    border-radius: 2px;
}

.list-item-info-text
{
    text-wrap: nowrap;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.display-area-quick-buttons
{
    display: flex;
    z-index: 5;
    border-bottom: 1px solid var(--color-neutral-variant60);
    position: sticky;
    top: 0;
    background: var(--color-background);
}

.account-dialog
{
    z-index: -1;
    position: absolute;
    display: flex;
    border-radius: 2.5em;
    height: 33em;
    width: 23em;
    right: 3em;
    margin-top: 50px;
    margin-right: 0;
    background: var(--color-surface-5);
    padding: 0;
    color: var(--color-on-background);
    flex-direction: column;
}

dialog:not([open])
{
    pointer-events: none;
}

.account-dialog::backdrop
{
    opacity: 0;
}

.display-panel-book-general
{
    display: flex;
    margin: 0.2em;
    flex-direction: row;
}

@media (max-width:270px)
{
    .display-panel-book-general
    {
        flex-direction: column;
        align-items: center;
    }
}

.page-number-changer
{
    display: flex;
    align-items: center;
    margin: 1em;
    background-color: var(--color-surface-0);
    border-radius: 0.5em;
    padding: 1em;
    --button-size: 50px
}

@media (max-width:1124px)
{
    .page-number-changer
    {
        margin: 0.5em;
        padding: 0.5em;
        --button-size: 40px;
    }

    #tttttttt112
    {
        font-size: 1.2em !important;
    }
}

.copy-icon
{
    font-size: 1em;
    margin-left: 0.1em;
    opacity: 0.4;
    user-select: none;
    cursor: pointer;
}

body.hasHover .copy-icon:hover
{
    opacity: 0.9;
}

.copy-icon:active
{
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

dialog[open]
{
    opacity: 1;
    transform: scale(1);
}

dialog[open]::backdrop
{}

dialog[open]
{}

.bigdialog[open]::backdrop
{
    animation: dialog-show 0.5s ease-in-out;
}

.bigdialog[open]
{}

@keyframes dialog-show
{
    from
    {
        opacity: 0;
    }

    50%
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

.h9854h45g
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width:750px)
{
    .h9854h45g
    {
        flex-direction: column;
    }
}

dialog
{
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transform: scale(0.99);
    opacity: 0;
    overflow: hidden;
    background-color: var(--color-surface-5);
    border-radius: 1rem;
    border: black 5em;
    padding: 0;
    color: var(--color-on-background);
    transition:
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        overlay 0.2s ease-in-out allow-discrete,
        display 0.2s ease-in-out allow-discrete;
    scale: 0.2 ease-in-out;
}

input[type="radio"]
{
    width: 1.5em;
    height: 1.5em;
    box-shadow: none !important;
}

.delete-forever-button
{
    box-shadow: 0px 0px 0px 0em rgb(255 76 76);
}

body.hasHover .delete-forever-button:hover
{
    background-color: rgb(100, 7, 7);
    box-shadow: 0px 0px 0px 0.5em rgb(255 76 76);
}

.delete-forever-button.ririirriire
{
    background-color: rgb(100, 7, 7);
    transition: 7s linear;
    box-shadow: 700px 0px 0px 100vw rgb(255 76 76);
}


@media (max-width:590px)
{
    /*
    dialog
    {
        opacity: 0;
        overflow: auto;
        background-color: var(--color-surface-5);
        border-radius: 0rem;
        padding: 0;
        border: none;
        margin: 0;
        width: -webkit-fill-available;
        height: 100dvh;
        max-width: 1000em;
        max-height: 1000em;
        color: var(--color-on-background);
        transition: opacity 0.2s ease-in-out,
            transform 0.2s ease-in-out,
            overlay 0.2s ease-in-out allow-discrete,
            display 0.2s ease-in-out allow-discrete,
            scale 0.2s ease-in-out;
    }*/

    .account-dialog::backdrop
    {
        opacity: 1;
    }

    .account-dialog
    {
        margin: auto;
        left: 50%;
        translate: -50%;
        width: min(95vw, 23em);
    }
}

@media (max-height:610px)
{
    .account-dialog
    {
        margin: auto;
        left: 50%;
        translate: -50%;
        width: min(95vw, 23em);
        height: min(95vh, 33em);
    }

    .account-dialog::backdrop
    {
        opacity: 1;
    }
}

/*
@starting-style {
    dialog[open] {
        transform: scale(0.99);
        opacity: 0;
    }
}
*/
dialog::backdrop
{
    background-color: rgb(0 0 0 / 0);
    transition:
        display 0.2s ease-in-out allow-discrete,
        overlay 0.2s ease-in-out allow-discrete,
        background-color 0.2s;
}

dialog[open]::backdrop
{
    background-color: rgb(0 0 0 / 0.5);
}

/*
@starting-style {
    dialog[open]::backdrop {
        background-color: rgb(0 0 0 / 0);
    }
}
*/

span.ripple
{
    position: absolute;
    z-index: 5;
    pointer-events: none;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0.3;
    /*0.3*/
    animation: ripple 0.5s linear;
    background: radial-gradient(circle, var(--color-on-primary-container) 0%, var(--color-on-primary-container) 100%);
    background: radial-gradient(circle, var(--color-on-primary-container) 0%, var(--color-on-primary-container) 100%);
}

@keyframes ripple
{
    to
    {
        transform: scale(3);
        opacity: 0;
    }
}

@media (min-width:550px)
{
    .book-add-inputs
    {
        padding: 2em;
        display: grid;
        font-size: 10px;
        height: 736px;
        grid-template-columns: 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
}

@media (max-width:550px)
{
    .book-add-inputs
    {
        padding: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
}

@media (min-width:590px)
{
    .dialog-header-grid
    {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 2rem;
    }
}

@media (max-width:590px)
{
    .dialog-header-grid
    {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 1rem;
    }

    .color-picker
    {
        flex-direction: column !important;
        font-size: 1.5em;
    }
}

.text-only
{
    background: rgba(51, 58, 46, 0);
}

body.hasHover .text-only:hover
{
    background: rgba(69, 79, 62, 0.1);
    box-shadow: 0px 0px 0 2px #343a2e;
}

::placeholder
{
    color: var(--color-on-background);
    opacity: 0.7;
}

input,
select,
textarea
{
    color: var(--color-on-background);
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: 0px 0px 0px 1.2px var(--color-neutral-variant60);
    font-family: var(--the-font);
    width: calc(100% - 0.8em);
    font-size: 23px;
    padding: 0.4em;
    border-radius: 0.2em;
    margin: 0;
    transition: 1s box-shadow cubic-bezier(0.075, 0.82, 0.165, 1);
}

option
{
    color: var(--color-on-background);
    background-color: var(--color-surface-2);
}

input:focus,
select:focus,
textarea:focus
{
    box-shadow: 0px 0px 0px 3px var(--color-primary-80);
}

button
{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    color: var(--color-on-background);
    border: 1.2px solid var(--color-utility-outline);
    border-radius: 20px;
    font-family: var(--the-robo-font);
    font-size: min(5vw, 16px);
    background-color: transparent;
    background-origin: border-box;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transform: translate(0px, 0px);
    justify-content: space-around;
    padding: 0.5em;
    width: 7em;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.05s;
}

body.hasHover button:hover
{
    background-color: var(--color-surface-variant);
}

button:active
{
    --active-border-radius: 5px;
    border-radius: var(--active-border-radius);
}

body.hasHover .button-circle:hover
{
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.button-circle:active
{
    font-variation-settings: 'FILL' 1, 'wght' 900, 'GRAD' 0, 'opsz' 24;
    scale: 0.9;
}

.button-circle
{
    padding: 0;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 100em;
}

.button-circle:active
{
    border-radius: 100em;
}

.button-filled
{
    padding: 0.5em;
    width: 7em;
    background: var(--color-secondary-container);
    border: none;
    box-shadow: 0px 1px 8px #00000063;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0s;
}

.container
{
    display: flex;
    height: calc(100dvh - 4.4em);
    overflow-x: scroll;
    overflow-y: hidden;
}

.panel
{
    margin: 0.15em;
    flex: 1;
    border: 0px solid var(--color-utility-outline);
    overflow: hidden;
    background-color: var(--color-background);
    border-radius: 0.8em;
    min-width: 1em;
    translate: 0px 0px;
    opacity: 1;
    flex-shrink: 0;
    width: calc(100% - 2em);
    transition: translate 0.1s linear, opacity 0.1s linear;
}


.search-area
{
    width: 100%;
    padding: 1em;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    width: 18em;
    flex: 0 0 auto;
    position: relative;
    right: 0px;
    transition: all 0.6s cubic-bezier(0.42, -0.02, 0, 1) 0s;
}

.segmented-button-button
{
    width: 9em;
}

@media (min-width:751px)
{
    .display-area
    {
        flex-basis: 8em;
    }
}

.logo-text
{
    user-select: none;
    align-self: center;
    font-size: min(5vw, 40px);
    font-family: "Montserrat";
    margin: 0.1em;
    font-weight: 600;
    text-wrap: nowrap;
}

a
{
    text-decoration: underline;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    color: white;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body.hasHover a:hover
{
    color: lightblue;
    font-weight: 600;
    text-decoration: none;
}

a:active
{
    font-weight: 400;
}

.barcode-image
{
    height: 1.5em;
    width: 10em;
    padding: 0.2em;
    background-color: white;
    object-position: bottom;
    margin: 0.5em;
    position: absolute;
    object-fit: cover;
    z-index: 1;
    border: solid black 2px;
    border-radius: 6px;
    opacity: 1;
    transition: 0.3s cubic-bezier(0.42, 0, 0.18, 0.99);
}

body.hasHover .barcode-image:hover
{
    height: 5.7em;
}

.barcode-image:active
{
    scale: 0.9;
}

.tooltip
{
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext
{
    pointer-events: none;
    visibility: hidden;
    font-family: var(--the-robo-font);
    background-color: #131414;
    color: #fff;
    text-align: center;
    text-wrap: nowrap;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
    bottom: -510%;
    scale: 0;
    left: 50%;
    translate: -50%;
    opacity: 0;
    transition: 0.4s cubic-bezier(1, 0, 1, 0), 0.2s opacity cubic-bezier(1, 0, 1, 1);
    transition-delay: 0s;
}

body.hasHover .tooltip:hover .tooltiptext
{
    visibility: visible;
    opacity: 1;
    scale: 1;
    bottom: 125%;
    transition: 0.5s cubic-bezier(0, 1, 0, 1), 0.2s opacity cubic-bezier(1, 0, 1, 1);
    transition-delay: 0s;
}

@media (max-width:550px)
{
    .logo-text
    {
        font-size: 1em;
        padding: 0;
    }

    .site-logo
    {
        flex-direction: column;
        justify-content: center;
    }

    .logo-image
    {
        height: 2em !important;
        width: 2em !important;
    }
}

.top-bar
{
    grid-area: top-bar;
    height: 2.7em;
    padding: 0.8em;
    width: unset;
    display: flex;
    overflow-x: scroll !important;
}

.top-bar::-webkit-scrollbar
{
    display: none;
}

.container::-webkit-scrollbar
{
    display: none;
}

.filter-button
{
    margin: 7px 7px 7px 0px;
    width: 3em;
    border-radius: 10000em !important;
    max-width: 42px;
}








.list-area
{
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
    gap: 0.4em 0px;
    flex-shrink: 0;
    overflow: hidden;
    min-width: 17em;
    grid-template-areas: "list-area-search"
        "list-area-list";
    grid-area: list-area;
}

.display-area
{
    grid-area: display-area;
    overflow-y: scroll;
    flex-basis: 8em;
    min-width: 24em;
}


.list-area-search
{
    grid-area: list-area-search;
    background-color: var(--color-surface-1);
    z-index: 1;
    height: fit-content;
    border-radius: 0.6em;
    align-content: center;
}

.list-area-list
{
    grid-area: list-area-list;
    overflow-y: scroll;
    border-radius: 0.6em;
    background-color: var(--color-surface-1);
}

.e00j430985t
{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-direction: column;
}

optgroup
{
    background: var(--color-background);
}

input[type="checkbox"]
{
    height: 1em;
    accent-color: var(--color-primary);
    width: 1em;
    box-shadow: none;
    font-size: 1.3em;
}

input[type="checkbox"],
input[type="radio"]
{
    accent-color: var(--color-primary);
}

input[type="checkbox"]:not(:disabled)
{
    cursor: pointer;
}

input[type="checkbox"]:not(:checked):not(:disabled),
input[type="radio"]:not(:checked):not(:disabled)
{
    appearance: none;
    margin-bottom: 0;
    width: 1em;
    height: 1em;
    background: transparent;
    box-shadow: inset 0 0 0px 3px var(--color-inverse-surface);
}

input[type=checkbox]:hover:checked
{
    filter: brightness(1.7);
}

input[type=checkbox]:active:checked
{
    filter: brightness(1);
}

input[type="checkbox"]:disabled
{
    box-shadow: inset 0 0 0px 3px var(--color-inverse-surface);
    opacity: 0.5;
    border-radius: 100px;
}

input[type="checkbox"]:not(:checked):not(:disabled)
{
    border-radius: 3px;
}

input[type="radio"]:not(:checked):not(:disabled)
{
    border-radius: 100px;
}

input[type=checkbox]:hover:not(:disabled):not(:checked)
{
    box-shadow: inset 0 0 0px 3px var(--color-primary), 0 0 0px 5px color-mix(in srgb, var(--color-primary-80) 50%, transparent);
    background-color: color-mix(in srgb, var(--color-primary-80) 50%, transparent);
}


.button-icon
{
    padding-right: 0.2em;
    scale: 0.8;
    translate: -4px 0px;
}

.list-button
{
    padding-left: 2em;
    border-radius: 0 !important;
    border-width: 0;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

/* width */
::-webkit-scrollbar
{
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

/* Handle on hover */
body.hasHover ::-webkit-scrollbar-thumb:hover
{
    background: rgba(0, 0, 0, 0.2);
}

.iriiririr9
{
    background: var(--color-surface-0);
    transform-origin: 0 0;
    pointer-events: none;
    display: none;
    position: absolute;
    z-index: 2;
    width: fit-content;
    height: 2.6em;
    padding: 1.2em;
    transition: 0.7s cubic-bezier(0.36, 0.01, 0.27, 0.97);
}

.j95r4ji5r
{
    transform: scaleX(1) scaleY(1);
    transform-origin: 0 0;
    border: 1.2px solid var(--color-utility-outline);
    padding: 0 0.5em 0.5em 0.5em;
    border-radius: 1em;
    margin: 0;
    position: absolute;
}

.j95r4ji5r::backdrop
{
    opacity: var(--j95r4ji5r-opacity);
}

.chip-dropdown
{
    font-size: 1.1em;
    width: fit-content;
    border-radius: 6px;
    padding: 2px;
    text-align: center;
}

.accordian
{
    overflow: hidden;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 0.1em;
    margin: 0.1em;
}

.accordian-button
{
    width: 100%;
    justify-content: left;
    border-radius: 0.5em;
    border: 0;
}

.toggle-chip
{
    font-family: var(--the-font);
    height: 1.7em;
    width: fit-content;
    margin: 0.2em;
    text-wrap: nowrap;
    border-radius: 0.3em;
    font-size: 1.1em;
    border-width: 1.5px;
}

.dropdown-button
{
    border-radius: 0 !important;
    border-width: 0;
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: start;
    padding-left: 1em;
}

.input-container
{
    display: flex;
    align-items: center;
    width: 100%;
}

.input-placeholder
{
    position: absolute;
    margin: 0.3em;
    font-size: min(4vw, 23px);
    opacity: 0.7;
    pointer-events: none;
    color: var(--color-on-background);
    transition: translate 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), font-size 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0s;
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 0;
    background-color: transparent;
}

.input-container input:not(:focus):not(:placeholder-shown)+.input-placeholder,
.input-container select:not(:focus):not(:placeholder-shown)+.input-placeholder,
.input-container textarea:not(:focus):not(:placeholder-shown)+.input-placeholder
{
    font-size: calc(min(4vw, 23px)*0.6);
    translate: 0px -2.05em;
    background-color: var(--color-surface-0);
    opacity: 1;
    transition-delay: 0s;
    color: var(--color-on-background);
}

.input-container input:focus+.input-placeholder,
.input-container select:focus+.input-placeholder,
.input-container textarea:focus+.input-placeholder
{
    font-size: calc(min(4vw, 23px)*0.6);
    translate: 0px -2.05em;
    background-color: var(--color-surface-0);
    opacity: 1;
    transition-delay: 0s;
    color: var(--color-primary-80);
}

.input-container textarea:not(:focus):not(:placeholder-shown)+.input-placeholder,
.input-container textarea:focus+.input-placeholder
{
    translate: 0px -1.15em;
}

.input_placeholder_force_up
{
    font-size: calc(min(4vw, 23px)*0.6);
    translate: 0px -2.05em;
    background-color: var(--color-surface-0);
    opacity: 1;
    transition-delay: 0s;
    color: var(--color-on-background);
}